IDD_MAIN DIALOGEX 0, 0, 224, 101
CAPTION "MainWindow"
FONT 12, "Segoe UI", 400, 0, 0x1
BEGIN
PUSHBUTTON "Button", -1, 7, 7, 210, 14, WS_TABSTOP
CHECKBOX "CheckBox", -1, 180, 21, 37, 10, WS_TABSTOP
END
